/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Шапка сайта */
header {
    background: #d40000; /* Красный */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Навигация */
nav {
    background: #222; /* Черный */
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background: #d40000; /* Красный */
    padding: 10px;
    border-radius: 5px;
}

/* Контент */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

section {
    padding: 20px;
    background: white;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Кнопка */
button {
    background: #d40000; /* Красный */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #a00000; /* Темно-красный */
}

/* Футер */
footer {
    background: #222; /* Черный */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}